{% extends "site_base.html" %}

{% block title %}CoderDojo Verona{% endblock %}

{% block site_content %}
    <!-- Main content -->
    <div class="flex flex-col gap-10 p-5">
        <!-- Composite Hero -->
        <div class="grid grid-cols-5 gap-x-20 gap-y-10">
            <div class="card bg-primary text-primary-content p-[15%] lg:py-[15%] lg:px-[20%] rounded-4xl shadow-2xl col-span-5 max-lg:order-2 lg:col-span-3">
                <h2 class="text-3xl md:text-5xl">Noi siamo</h2>
                <h1 class="text-5xl md:text-7xl">CoderDojo Verona</h1>
                <p class="text-xl mt-5">Una palestra di arti digitali per giovani appassionati d'informatica e futuri sviluppatori!</p>
                <button class="btn btn-neutral btn-xl mt-10 rounded-2xl">Partecipa anche tu</button>
                <button class="btn btn-xl mt-2 rounded-2xl">Diventa Mentor</button>
            </div>
            <div class="card bg-[url(../images/coderdojo.jpg)] bg-cover rounded-4xl shadow-2xl col-span-5 max-lg:order-1 lg:col-span-2 min-h-[200px]"></div>
        </div>

        <!-- Activities -->
        <div class="overflow-x-hidden">
            <div class="slides">
                <div class="card bg-primary text-primary-content p-5 rounded-4xl items-center">
                    <div class="flex items-center gap-7 h-full">
                        <i class="fa-solid fa-code text-7xl"></i>
                        <div class="flex flex-col">
                            <h2 class="card-title">Scratch</h2>
                            <p>Chi ha detto che programmare è difficile? Vieni a toccare con mano l'informatica per la prima volta.</p>
                            <p>Consigliato dalla terza elementare in poi.</p>
                        </div>
                    </div>
                </div>
                <div class="card bg-success text-success-content p-5 rounded-4xl items-center">
                    <div class="flex items-center gap-7 h-full">
                        <i class="fa-solid fa-microchip text-7xl"></i>
                        <div class="flex flex-col">
                            <h2 class="card-title">Arduino</h2>
                            <p>Anche l'elettronica ha il suo fascino! Impariamo la prototipizzazione con Arduino!</p>
                            <p>Consigliato dalla prima media in poi.</p>
                        </div>
                    </div>
                </div>
                <div class="card bg-secondary text-secondary-content p-5 rounded-4xl items-center">
                    <div class="flex items-center gap-7 h-full">
                        <i class="fa-solid fa-robot text-7xl"></i>
                        <div class="flex flex-col">
                            <h2 class="card-title">Robotica</h2>
                            <p>Ti affascinano i dispositivi automatici e vorresti costruirne uno? Sei nel posto giusto!</p>
                            <p>Consigliato dalla quinta elementare in poi.</p>
                        </div>
                    </div>
                </div>
                <div class="card bg-warning text-warning-content p-5 rounded-4xl items-center">
                    <div class="flex items-center gap-7 h-full">
                        <i class="fa-brands fa-python text-7xl"></i>
                        <div class="flex flex-col">
                            <h2 class="card-title">Python</h2>
                            <p>Scopri uno dei più famosi linguaggi di programmazione al mondo sviluppando da zero il tuo videogioco!</p>
                            <p>Consigliato dalla prima superiore in poi.</p>
                        </div>
                    </div>
                </div>
                <div class="card bg-info text-info-content p-5 rounded-4xl items-center">
                    <div class="flex items-center gap-7 h-full">
                        <i class="fa-solid fa-cube text-7xl"></i>
                        <div class="flex flex-col">
                            <h2 class="card-title">Stampa 3D & Taglio Laser</h2>
                            <p>La creazione e la stampa di oggetti 3D è una skill fondamentale per ogni maker: impara a progettare da solo i tuoi modelli!</p>
                            <p>Consigliato dalla prima media in poi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Events dates -->
        <div class="grid grid-cols-5 gap-x-20 gap-y-10">
            <div class="card bg-[url(../images/coderdojo2.jpg)] bg-cover bg-center rounded-4xl shadow-2xl col-span-5 lg:col-span-2 min-h-[200px]"></div>
            <div class="card border-5 border-secondary rounded-4xl shadow-2xl col-span-5 lg:col-span-3">
                <div class="card-body flex-col gap-10">
                    <div>
                        <p class="text-secondary text-2xl">Le prossime date</p>
                        <div class="flex flex-wrap gap-5">
                            {% if page.future_event_dates|length > 0 %}
                                {% for date_record in page.future_event_dates %}
                                    <div class="flex items-center grow gap-3 bg-base-100 rounded-box shadow-xl p-5">
                                        <span class="indicator">
                                            <span class="indicator-item indicator-bottom status status-lg status-{{ date_record.get_indicator }}"></span>
                                            <i class="fa-solid fa-calendar text-2xl text-secondary"></i>
                                        </span>
                                        <div class="tabular-nums text-3xl text-secondary">{{ date_record.date|date:"Y/m/d" }}</div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>Non abbiamo ancora programmato nuove date.</p>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <p class="text-secondary text-2xl">Le date trascorse</p>
                        <div class="flex flex-wrap gap-5">
                            {% if page.past_event_dates|length > 0 %}
                                {% for date_record in page.past_event_dates %}
                                    <div class="flex items-center grow gap-3 bg-base-100 rounded-box shadow-xl p-5">
                                        <span class="indicator">
                                            <span class="indicator-item indicator-bottom status status-lg status-{{ date_record.get_indicator }}"></span>
                                            <i class="fa-solid fa-calendar text-2xl text-secondary"></i>
                                        </span>
                                        <div class="tabular-nums text-3xl text-secondary">{{ date_record.date|date:"Y/m/d" }}</div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>Non ci sono date passate.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- What is this and sponsors -->
        <div class="grid grid-cols-2 gap-x-20 gap-y-10">
            <div class="card border-5 border-primary shadow-2xl rounded-4xl p-6 min-h-0 max-h-fit justify-self-start max-lg:col-span-2">
                <h1 class="text-primary text-2xl">Di cosa si tratta?</h1>
                <p class="mt-3">
                    Il movimento CoderDojo (da Coder, programmatore in gergo informatico, e Dojo, palestra in
                    Giapponese) è una rete internazionale di computer club dove bambini e adolescenti possono
                    ritrovarsi e imparare liberamente a scrivere programmi per il computer, sviluppare siti web,
                    applicazioni, giochi e molto altro ancora
                </p>
                <p class="mt-2">
                    Il CoderDojo Verona segue la filosofia Coderdojo basata sulla collaborazione fra persone
                    appassionate di tecnologia e desiderose di trasmettere questa passione (i mentor) e ragazzi
                    (i ninja coder) desiderosi di capire “cosa sta dietro” alle tecnologie che utilizzano
                    tutti i giorni. La filosofia del Coderdojo è ben spiegata nel documento
                    Coderdojo Echo (Ethos, Culture, Happiness and Outcomes).
                </p>
                <p class="mt-2">
                    Gli incontri del Coderdojo Verona sono completamente gratuiti, come previsto dal charter
                    della Coderdojo Foundation.
                    Seguici su Facebook o su Instagram per ricevere notizie sulle nostre attività!
                    Oppure iscriviti alla mailing list del Coderdojo Verona, verrai informato tutte le volte
                    che apriamo le iscrizioni per un evento.
                </p>
            </div>
            <div class="card border-5 border-accent shadow-2xl rounded-4xl p-6 max-h-fit max-lg:col-span-2">
                <h1 class="text-accent text-2xl">I nostri sponsor</h1>
                <div class="join join-vertical bg-base-100 mt-3">
                    <div class="flex flex-wrap md:flex-nowrap lg:flex-wrap xl:flex-nowrap gap-6 p-6">
                        <div><img class="min-w-[150px] max-w-[150px]" src="http://www.coderdojovr.it/wp-content/uploads/2017/01/311.jpg"/></div>
                        <div>
                            <div class="text-xl mb-2">311 Verona</div>
                            <p class="list-col-wrap">
                                Nel sito del co-working 311Verona si legge: “È un progetto in cui innovazione,
                                formazione e comunicazione si incontrano in unico spazio, all’interno del quale
                                vengono promossi il valore umano e professionale della persona, con particolare
                                attenzione ai giovani”. Per questa particolare attenzione 311Verona ci ha
                                invitato a fare nella loro sede i nostri incontri, fornendoci sale
                                spettacolari, una connessione fenomenale e schermi touch meravigliosi.
                                Inoltre – ma solo per i mentor – un ottimo caffè!
                            </p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="flex flex-wrap md:flex-nowrap lg:flex-wrap xl:flex-nowrap gap-6 p-6">
                        <div><img class="min-w-[150px] max-w-[150px]" src="https://www.coderdojovr.it/wp-content/uploads/2017/01/fablab.png"/></div>
                        <div>
                            <div class="text-xl mb-2">Verona FabLab</div>
                            <p class="list-col-wrap">
                                Verona FabLab è “un luogo di incontro per aziende, scuole e makers per
                                un’Italia che vuole tornare a innovare; un’officina aperta dove far nascere
                                progetti innovativi e nuove professionalità”. Oltre al fatto che alcuni dei
                                nostri mentor sono soci, il FabLab ci mette a disposizione una stampante 3D,
                                alcuni robot, e anche supporto per le donazioni e i piccoli acquisti.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
