@layer utilities {
    .slides {
        --slides: 5;
        --gap: 1.25rem;

        display: flex;
        gap: var(--gap);
        width: 100%;
        user-select: none;
    }

    .slides:hover > div {
        animation-play-state: paused;
    }

    .slides > div {
        animation: slides 35s linear infinite;
        flex: 0 0 100%;
    }

    @media (min-width: 768px) {
        .slides > div {
            flex: 0 0 calc((100% - var(--gap)) / 2);
        }
    }

    @media (min-width: 1280px) {
        .slides > div {
            flex: 0 0 calc((100% - var(--gap) * 2) / 3);
        }
    }
}

@keyframes slides {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(calc((-100% - var(--gap)) * var(--slides)));
    }
}
