{% extends "admin/admin_base.html" %}

{% block titletag %}Eventi di CoderDojoVR{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/breadcrumbs.html" with items=breadcrumbs_items %}
    {% include "wagtailadmin/shared/header.html" with title="Eventi di CoderDojoVR" icon="date" %}

    <div class="nice-padding">
        <div class="mt-10">
            <table id="attendees_table" class="listing">
                <thead>
                    <tr>
                        <th>Titolo Evento</th>
                        <th>Descrizione</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td><a href="/admin/eventbrite/{{ event.id }}">{{ event.name.text }}</a></td>
                            <td>{{ event.summary }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">Nessun evento disponibile</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
