{% extends "admin/admin_base.html" %}

{% block titletag %}{{ event.title }}{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/breadcrumbs.html" with items=breadcrumbs_items %}
    {% include "wagtailadmin/shared/header.html" with title=event.title icon="date" %}

    <div class="nice-padding">
        <div>
            <h2>Partecipanti iscritti: {{ event.tickets|length }}</h2>
        </div>
        <div class="mt-10">
            <table id="attendees_table" class="listing">
                <thead>
                    <tr>
                        <th>Nome completo</th>
                        <th>Classe</th>
                        <th>Argomento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in event.tickets %}
                        <tr>
                            <td>{{ ticket.name }}</td>
                            <td>
                                {% for answer in ticket.answers %}
                                    {% if answer.question_title == "Classe frequentata" %}
                                        {{ answer.response }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {{ ticket.release_title }}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">Nessun partecipante registrato</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
