{% extends "admin/admin_base.html" %}

{% block titletag %}Prossimo evento su Eventbrite{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/breadcrumbs.html" with items=breadcrumbs_items %}
    {% include "wagtailadmin/shared/header.html" with title=event.name.text icon="date" %}

    <div class="nice-padding">
        <div>
            <h2>Partecipanti iscritti: {{ event.attendees|length }}</h2>
        </div>
        <div class="mt-10">
            <table id="attendees_table" class="listing">
                <thead>
                    <tr>
                        <th>Nome completo</th>
                        <th>Classe</th>
                        <th>Argomento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attendee in event.attendees %}
                        <tr>
                            <td>{{ attendee.profile.name }}</td>
                            <td>
                                {% for answer in attendee.answers %}
                                    {% if answer.question == "Classe frequentata" %}
                                        {{ answer.answer }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for answer in attendee.answers %}
                                    {% if answer.question == "A quale argomento siete interessati?" %}
                                        {{ answer.answer }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">Nessun partecipante registrato</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
