{% extends "pages/admin/admin_base.html" %}

{% block title %}Mentor Profile | CoderDojo Verona{% endblock %}

{% block admin_content %}
    <div class="mt-20">
        <div>
            <h1 class="font-bold text-4xl mt-5">Modifica il tuo profilo da Mentor</h1>
            <p class="text-xl">Da questa pagina puoi modificare in autonomia il tuo profilo da Mentor visibile nella pagina "Chi siamo".</p>
        </div>
        <div class="card max-w-3xl mt-5 mx-auto gap-5 p-6">
            {% if error %}
                <div role="alert" class="alert alert-error">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span>Non è stato possibile salvare il tuo profilo. Riprova più tardi e, se l'errore persiste, contatta l'amministratore.</span>
                </div>
            {% endif %}
            <form class="flex flex-col items-center gap-5" method="post" enctype="multipart/form-data">
                <div class="w-full">
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Biografia</legend>
                        <label>
                            <textarea class="textarea tinymcearea w-full h-24" placeholder="Bio" name="bio" required>{{ profile.bio if profile else "" }}</textarea>
                        </label>
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend class="fieldset-legend">Immagine del profilo</legend>
                        <input type="file" class="file-input" name="propic" {% if not profile.avatar %} required {% endif %} />
                    </fieldset>
                </div>
                <input class="btn btn-success btn-wide" type="submit" value="Salva" />
            </form>
        </div>
    </div>
{% endblock %}
